.layout-fixed .main-sidebar {
  background: whitesmoke !important;
}

[class*="sidebar-dark-"] .sidebar a {
  color: #1f2d3d !important;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:focus {
  background-color: rgb(183 185 187) !important;
  color: #212529 !important;
}

[class*="sidebar-dark"] .brand-link {
  border-bottom: none !important;
  color: rgb(0 0 0 / 80%) !important;
  text-decoration: none !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55) !important;
}
