.layout-fixed .main-sidebar {
  background: whitesmoke !important;
}

.bg-Gradiunt {
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      color-stop(0.05, #005fbf),
      color-stop(1, #003f7f)) !;
  background-color: #005fbf;
}

.legend {
  padding: 3px 10px;
  border-radius: 8px;
  color: #fff;
  z-index: 999;
  position: absolute;
  /* left: 10px; */
  margin: -19px 15px;
}

.select {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: relative;
  width: 350px;
}

.select-text {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 350px;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.12);
}

/* Remove focus */
.select-text:focus {
  outline: none;
  border: 2px solid orange;
}

/* Use custom arrow */
.select .select-text {
  appearance: none;
  -webkit-appearance: none;
  color: gray;
}

.select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);

  pointer-events: none;
}

/* LABEL ======================================= */
.select-label {
  color: rgba(0, 0, 0, 0.26);
  background: white;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  padding: 0 5px;
  left: 10px;
  top: 12px;
  transition: 0.2s ease all;
}

/* active state */
.select-text:focus~.select-label,
.select-text:valid~.select-label {
  color: orange;
  top: -8px;
  transition: 0.2s ease all;
  font-size: 14px;
}

.select-text:valid:not(focus)~.select-label {
  color: rgba(0, 0, 0, 0.26);
  background: red;
}

.select-text:valid:focus~.select-label {
  color: orange;
}


/* .css-imf0nl-MuiDataGrid-root .MuiDataGrid-columnHeader--sortable {
  width: fit-content !important;
  min-width: fit-content !important;
  max-width: fit-content !important;
  cursor: pointer;
}

.css-imf0nl-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell {
  width: fit-content !important;
  min-width: fit-content !important;
  max-width: fit-content !important;
  overflow: auto;
  white-space: nowrap;
}


.css-imf0nl-MuiDataGrid-root {
  -webkit-flex: inherit !important;
  -ms-flex: inherit !important;
  flex: inherit !important;

} */