@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

@media (min-width: 768px) {
  .md\:w-1\/2 {
    width: 50% !important;
  }

  .md\:block {
    display: block !important;
  }

  .md\:w-1\/3 {
    width: 33.333333% !important;
  }

  .md\:w-\[30\%\] {
    width: 30% !important;
  }

  .md\:flex-row {
    flex-direction: row !important;
  }
}

@media (max-width: 768px) {

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
  }

  .css-m5vj9m-MuiStepper-root {
    flex-wrap: wrap !important;
  }

  .css-1bw0nnu-MuiStep-root {
    padding: 8px !important;
  }

  .css-1nrlq1o-MuiFormControl-root {
    width: 100% !important;
  }

  .inputFull {
    width: 100% !important;
  }

  .input-group-text {
    height: 100%;
    position: absolute;
    right: 0;
  }
}

.bg-sky-100 {
  background-color: #e8f0fe !important;
}

.btn-success {
  color: #fff;
  background-color: #28a745 !important;
  border-color: #28a745;
  box-shadow: none;
}

.iconStyle {
  background-color: whitesmoke;
  color: #0089ff;
  width: 25px;
  height: 25px;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
  box-shadow: rgb(0 0 0 / 7%) 0px 54px 55px, rgb(0 0 0 / 10%) 0px -12px 30px,
    rgb(0 0 0 / 7%) 0px 4px 6px, rgb(0 0 0 / 9%) 0px 12px 13px,
    rgb(0 0 0 / 10%) 0px -3px 5px;
  cursor: pointer;
}